/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	font-family: 'Poppins';
}

.p-large {
	font-family: 'Poppins';
}

.p-small {
	font-family: 'Poppins';
}

h1 {
	font-family: 'Poppins';
}

h2 {
	font-family: 'Poppins';
}

h3 {
	font-family: 'Poppins';
}

h4 {
	font-family: 'Poppins';
}

h5 {
	font-family: 'Poppins';
}

h6 {
	font-family: 'Poppins';
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.indent {
	padding-left: 1.25rem;
}

a {
	color: #555;
	text-decoration: underline;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

a.white {
	color: #fff;
}

.decorative-line {
	display: block;
	width: 5rem;
	height: 0.5rem;
	margin-right: auto;
	margin-left: auto;
}

.blue {
	color: #5f4dee;
}

.btn-solid-lg {
	display: inline-block;
	padding: 0.6rem 3.3rem 0.6rem 3rem;
	border: 0.125rem solid #5f4dee;
	border-radius: 2rem;
	background-color: black;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #5f4dee;
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 0.6rem 1rem 0.6rem 1rem;
	border: 0.125rem solid #5f4dee;
	border-radius: 2rem;
	background-color: black;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;
	font-size: smaller;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #5f4dee;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.25rem;
	color: #555;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.25rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #555;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #555;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #5f4dee;
	border-radius: 1.5rem;
	background-color: #5f4dee;
	color: #fff;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #5f4dee;
}

/* Form Success And Error Message Formatting */
#smsgSubmit.h3.text-center.tada.animated,
#lmsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#smsgSubmit.h3.text-center,
#lmsgSubmit.h3.text-center,
#nmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #555;
	font-size: 1.125rem;
	line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
	color: #555;
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox - magnific popup */

input[type=”date”] {
	position: relative;
}
	
input[type=”date”]::-webkit-calendar-picker-indicator {
	color: transparent;
	background: none;
	z-index: 1;
}
	
input[type=”date”]:before {
	color: white;
	background: none;
	display: block;
	font-family: ‘FontAwesome’;
	content: url('../images/home.svg');
	/* This is the calendar icon in FontAwesome */
	width: 15px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 6px;
	color: #999;
}

/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #5f4dee;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: white;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.875rem/0.875rem "Poppins";
	transition: all 0.2s;
}

.navbar-custom .container {
	max-width: 87.5rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2rem/1.5rem "Poppins";
	color: rgb(32, 32, 32);
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: black;
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: black;
	opacity: 1;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #5f4dee;
}

.navbar-custom .dropdown-item {
	color: #f7f5f5;
	opacity: 0.8;
	font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #5f4dee;
	color: #fff;
	opacity: 1;
}

.navbar-custom .nav-item .btn-outline-sm {
	margin-top: 0.25rem;
	margin-bottom: 1.375rem;
	margin-left: 0.5rem;
	border: 0.125rem solid #fff;
	color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
	background-color: #fff;
	color: #5f4dee;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: black;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fa.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fa.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fa.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fa.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
	background-color: whitesmoke;
    font-family: 'Poppins';
    
}

.header .background{
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-blend-mode: screen;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: left;
}

.header .text-container {
	margin-bottom: 3rem;
    margin-top: 10rem;
    margin-left: 3rem;
}

.header h1 {
	margin-bottom: 1rem;
	color: #2F2E30;
	font-size: 3rem;
	line-height: 3rem;
    font-weight: bold;
}

.header .p-large {
	font-family: 'Manrope';
	font-style: normal;
	color: black;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	font-family: 'Manrope';
	border-color: #f3f7fd;
	background-color: #2F2E30;
	color: white;
    font-weight: lighter;
	font-size: smaller;
}

.header .btn-solid-lg:hover {
	background: #6D148C;
}

.header .btn-outline-lg {
	border-color: #f3f7fd;
	color: #f3f7fd;
}

.header .btn-outline-lg:hover {
	background-color: #f3f7fd;
	color: #5f4dee;
}

.header-frame {
	margin-top: -1px; /* To remove white margin in FF */
	width: 100%;
	height: 2.25rem;
}

/***************************/
/*     06. Layanan         */
/***************************/
.cards-1 {
	padding-top: 8rem;
	padding-bottom: 3rem;
}

.cards-1 .above-heading {
	margin-bottom: 5rem;
    color: rgb(112, 112, 112);
}

.cards-1 .h2-heading {
	margin-bottom: 1rem;
    font-weight: bold;
	background-color: #2F2E30;
	color: white;
}

.cards-1 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 3.5rem;
	margin-left: auto;
	padding: 0;
	border: none;
    font-size: small;
}

.cards-1 .card .card-content{
	color: rgb(112, 112, 112);
}

.cards-1 .card-image {
    margin-bottom: 2rem;
	width: 42px;
	height: 42px;
}

.cards-1 .card-title {
    font-size: medium;
    font-weight: bold;
	margin-bottom: 0.5rem;
}

.cards-1 .card-body {
	padding: 0;
}

/***************************/
/*     07. Fisioterapis    */
/***************************/

.fisioterapis {
    padding-top: 8rem;
	padding-bottom: 3rem;
    font-size: small;
}

/***********************/
/*     11. Penyakit    */
/***********************/
.cards-2 {
	padding-top: 7.875rem;
	padding-bottom: 2.25rem;
	text-align: left;
}

.cards-2 .point{
	margin-bottom: 0.5em;
}

.cards-2 .point-3{
	margin-bottom: 0.5em;
}

.cards-2 .background{
	background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-blend-mode: screen;
}

.cards-2 .above-heading {
	margin-bottom: 5rem;
    color: rgb(112, 112, 112);
}

.cards-2 .h2-heading {
	margin-bottom: 1rem;
    font-weight: bold;
	background-color: #2F2E30;
	color: white;
}

.cards-2 .card-midle{
	display: block;
	max-width: 27rem;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
	border: 1px solid #ccd3df;
	border-radius: 0.375rem;
}

.cards-2 .card-midle .card-body {
	padding: 2.5rem 0.5rem 2.75rem 0.5em;
	font-size: 14px;
}

.cards-2 .card-midle .card-title {
	margin-bottom: 0.7rem;
	color: black;
	padding-left: 5%;
	font-weight: bolder;
	font-size: 20px;
}

.cards-2 .card {
	display: block;
	max-width: 20rem;
	max-height: 21rem;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
	border: 1px solid #ccd3df;
	border-radius: 0.375rem;
}

.cards-2 .card .card-body {
	padding: 2.5rem 0.5rem 2.75rem 0.5em;
	font-size: 14px;
}

.cards-2 .card .card-title {
	margin-bottom: 0.7rem;
	color: black;
	padding-left: 5%;
	font-weight: bolder;
	font-size: 20px;
}

/********************************/
/*     11. Fisioterapis list    */
/*******************************/
.cards-3 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.cards-3 .background{
	background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-blend-mode: screen;
}

.card-3 .card-fisioterapis{
	max-width: 21rem;
	margin-right: 4rem;
	margin-bottom: 3.5rem;
	margin-left: 4rem;
	padding-bottom: 2em;
	padding-top: 1em;
	border: none;
    font-size: small;
}

.cards-3 .above-heading {
	margin-bottom: 5rem;
    color: rgb(112, 112, 112);
}

.cards-3 .h2-heading {
	margin-bottom: 1rem;
    font-weight: bold;
	background-color: #2F2E30;
	color: white;
}

.card-image{
	position: relative;
}

.card-image .desc{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	border-radius: 0.375rem;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	padding-top: 30%;
	padding-right: 10%;
	padding-left: 10%;
}

.card-image .desc h3 {
	color: #fff;
	margin-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
  }
  .card-image .desc span {
	display: block;
	margin-bottom: 15px;
  }
  .card-image .desc p {
	color: rgba(255, 255, 255, 0.7);
  }
  .card-image .desc p.fh5co-social-icons a:hover, .card-image .desc p.fh5co-social-icons a:focus {
	text-decoration: none !important;
	background-color: #5f4dee;
	text-decoration: none;
  }

  .fh5co-social-icons a {
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	background-color: transparent;
	color: #5f4dee;
	transition: all .2s ease;
	margin-right: 12px;
  }

  .card-image .desc p.fh5co-social-icons i {
	font-size: 40px;
	color: #fff;
  }
  .card-image .desc span {
	color: #fff;
	display: block;
  }

.card-image:hover .desc {
	bottom: 0;
	opacity: 1;
}
/****************************/
/*     12. Testimonials     */
/****************************/
.slider-2 {
	background-color: whitesmoke;
	padding-top: 2.75rem;
	padding-bottom: 4rem;
}

.slider-2 .h2-heading{
	margin-bottom: 1rem;
    font-weight: bold;
	margin-bottom: 5rem;
	text-align: center;
	background-color: #2F2E30;
	color: white;
}

.slider-2 .card-title{
	font-weight: bold;
}

.slider-2 .card-subtittle{
	font-weight: lighter;
	padding-bottom: 1em;
}

.slider-2 .card-content{
	color: rgb(112, 112, 112);
}

.slider-2 .card-image img{
	border-radius: 100%;
	max-width: 80px;
	max-height: 80px;
	margin: auto;
}

.slider-2 .swiper-container {
	position: static;
	width: 80%;
	text-align: center;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
	background-color: #2F2E30;
}
.carousel-indicators {
    bottom: -50px;
}

.slider-2 .testimonial-text {
	margin-bottom: 0.5rem;
}

.slider-2 .testimonial-author {
	color: whitesmoke;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
	width: 1.125rem;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.image-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/********************************/
/*     11. Gallery    */
/*******************************/

.galery-list{
	padding-top: 2.75rem;
	padding-bottom: 4rem;
}

.galery .h2-heading {
	margin-bottom: 5rem;
    font-weight: bold;
	background-color: #2F2E30;
	margin-top: 5rem;
	color: white;
}

.galery .image-list{
	margin-bottom: 3.5rem;
	padding-bottom: 4em;
}

.galery .image-container{
	height: 100%;
	position: relative;
	white-space:nowrap; /*Added this*/
	overflow: auto;
}

.image-container::-webkit-scrollbar {
	display: none;
}


/********************************/
/*     11. Janji    */
/*******************************/

.janji{
	padding-top: 7.875rem;
	padding-bottom: 2.25rem;
}

.janji .h2-heading{
	margin-bottom: 1rem;
    font-weight: bold;
	margin-bottom: 5rem;
	text-align: center;
	background-color: #2F2E30;
	color: white;
}

.page-section {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
}

.main-form {
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

/********************************/
/*     11. Footer    */
/*******************************/

.page-footer {
	position: relative;
	display: block;
	padding-top: 80px;
	padding-bottom: 16px;
	background-color: #2F2E30;
	color: #fff;
  }
  
  .page-footer h5 {
	font-weight: 500;
	margin-bottom: 16px;
  }
  
  .page-footer hr {
	border-color: #4F5E5B;
  }
  
  .footer-menu {
	position: relative;
	list-style: none;
	padding-left: 0;
  }
  
  .footer-menu a,
  .footer-link {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	color: rgba(255, 255, 255, 0.6);
	transition: all .2s ease;
	text-decoration: none;
  }
  
  .footer-menu a:hover,
  .footer-link:hover {
	text-decoration: none;
	color: #fff;
  }
  
  .footer-link {
	padding: 0;
	margin-bottom: 16px;
  }
  
  .footer-sosmed a {
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	background-color: transparent;
	color: #ffff;
	transition: all .2s ease;
	margin-right: 12px;
  }
  
  .footer-sosmed a:hover {
	background-color: #5f4dee;
	text-decoration: none;
  }